/* @use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$red-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: "Pretendard Variable",
    density: -2,
  ));
}

 body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply h-full;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}
